@charset "utf-8";
/* CSS Document */
body{
    background-color: #f5f5f5;
    font-family: "Microsoft YaHei";
}
/* header */
.hd-box{
    width: 100%;
    background: #0e0e0f;
}
.hd-blank{width: 100%;position: relative;}

.hd-top{
    height: 195px;
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}
.hd{
    background: #0e0e0f;
}
.hd-top-fixed{
    /* display: none; */
    height: 115px;
    position: fixed;
    left: 0;top: -30px;
    background: #0e0e0f;
    animation: mymove .5s forwards;
    -webkit-animation:mymove .5s forwards;
}
@-webkit-keyframes mymove{from {top:-145px;}to {top:-30px;}}
@keyframes mymove{from {top:-145px;}to {top:-30px;}}
/* 左上角滚动新闻 */
.hd-notice-box{
    width: 100%;
    background: #141415 ;
}
#hd-notice{
    position: relative;
    overflow: hidden;
    width: 1282px; 
    margin: 0 auto;
    background: url(../img/hd_ico_info.png) no-repeat left center;
    text-indent: 30px;
    color: #a7a7a7;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
#hd-notice li{
    position: absolute;
    left: 0px;
    top: 0px;
}
#hd-notice a{
    color: #a7a7a7;
    font-size: 14px;
    line-height: 30px;
}
/* 搜索框等 */

.hd-con{
    width: 1282px; 
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
}
.hd-con-fixed{
    height: 66px;
    line-height: 66px;
}
.hd-left{
    width: 350px;
    float: left;
    background: url(../img/logo_text.png) no-repeat;
    background-position: 162px 42px;
}
.hd-left-fixed{
    background-position: 128px 22px;
}
.hd-left>a>img{
    width: 128px;
    height: 60px;
    vertical-align: middle;
    margin: 0px 12px; 
}

.hd-right{
    float: right;
}
.hd-right input{
    margin-right: 62px;
    width: 240px;
    height: 40px;
    background:#242424;
    border-radius: 18px;
    border: 0px;
    outline: none;
    line-height: 40px;
    text-indent: 32px;
    font-size: 16px;
    color:#919191;
    background:#242424 url(../img/search.png) no-repeat left center;
    background-position: 10px;
}  
input::-webkit-input-placeholder {
    font-family: "Microsoft YaHei";
    color: #757575; 
    font-size: 16px;
} 
.hd-right a{
    color: white;
    font-size: 16px;
}
.hd-right a img{
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 20px;
}
.hd-right a span{
    display: inline-block;
    height: 25px;width: 25px;
    border-radius: 50%;
    background: #ffc933;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    color: black;
    margin-left: 10px;
}
/* 导航栏 */
.nav-box{
    position: relative;
    width: 100%;
    background: #0e0e0f;
    border-top: 1px solid #222; 
}
#nav{
    width: 1282px; 
    margin: 0 auto;
    overflow: hidden;
}
.uls{float: left;}
.uls li{
    float: left;
    text-align: center;
}
.uls li a{
    display: inline-block;
    line-height: 64px;
    height: 64px;width: 129px;
    font-size: 18px;
    color: #a6a6a6;
}
.uls-fixed li a{
    line-height: 48px;
    height: 48px;
    font-size: 14px;
}
.uls li:first-child a{
    color:white;
    background: url(../img/libg.png) no-repeat;
    background-size: cover;
}
.uls-fixed li:first-child a{
    color:white;
    background: url(../img/libg.png) no-repeat;
    background-size: 129px 48px;
}

.uls li a:hover{
    color:white;
    background: url(../img/libg.png) no-repeat;
    background-size: cover;
}
.uls-fixed li a:hover{
    color:white;
    background: url(../img/libg.png) no-repeat;
    background-size: 129px 48px;
}
/* 全部商品分类 */
.nav-guide-box{
    float: right;
}
.nav-guide a{
    font-size: 16px;
    line-height: 64px;
    color: white;
}
.nav-guide img{
    margin-left: 10px;
}
.nav-guide-fixed a{
    font-size: 14px;
    line-height: 48px;
}
#sub_menu{
    display: none;
    width: 100%;
    height: auto;
    background: white;
    z-index: 99;
    position: absolute;
    left: 0;
    top: 100%;
}
.sub_menu_ul{
    overflow: hidden;
    display: table;
    margin: 0 auto;
}
.sub_menu_ul_li{
    margin:0 10px;
    float: left;
    width: 80px;
    text-align: center;
}
.sub_menu_ul_li a p{
    display: block;width: 80px;
    font-size: 16px;line-height: 16px;
    color: #333;
    border-bottom: 4px solid #e3e3e3;
    padding-bottom: 12px;
    font-weight: bold;
}
.sub_menu_ul_li a img{
    margin-top: 28px;margin-bottom: 20px;
    width: 32px;height: 32px;
}
.sub_menu_ul_li ul{
    padding: 15px 0;
}
.sub_menu_ul_li ul li a{
    color: #333;
    font-size: 14px;line-height: 30px;
}
.sub_menu_ul_li ul li a:hover{
    text-decoration: underline;
}
/* 首页/分类 */
.tit-box{
    width: 100%;
}
.tit{
    margin: 0 auto;
    width: 1282px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #999;
}
.tit p{
    color: #333;
}
.tit p span{
    margin-left: 4px;
    color: #999;
}
/* 过滤 */
.filter-box{
    width: 100%;
    margin-bottom: 10px;
    height: auto;
}
.list-filter-box{
    overflow: hidden;
    background: white;
    width: 1282px;
    margin: 0 auto;
    padding: 11px 0;
    max-height: 90px;
   
}
.list-filter{
    font-size: 14px;
    padding: 12px 50px 0;
}
.dl-left{
    float: left;
}
.list-filter img{
    vertical-align: middle;
}
.list-filter dt{
    float: left;
    color: #999;
    line-height: 30px;
}
.list-filter dd{
    float: left;
    padding: 0 20px;
    color: #666;
    line-height: 30px;
    cursor: pointer;
}
.dl-left .cur{
    color: #333;
    font-weight: bold;
}
.dl-right{
    float: right;
}
.dl-right img{
    margin-right: 2px;
}
/* 商品列表 */
.sale_box{
    z-index: 9;
    background: white;
    /* position: relative;
    top:-30px ; */
    border-radius: 9px;
    width: 1182px;
    height: 100%;
    margin: 0 auto;
    padding-left:50px;
    padding-right:50px; 
    padding-bottom: 50px;
}
/* 清除中间内容部分浮动 */
.sale_box:after{
    content: ""; display: block; clear: both; height: 0;overflow: hidden;visibility: hidden;
}
.today_top{
    padding-top: 54px;
    padding-bottom: 27px;
    overflow: hidden;
}
.today_top h2{
    margin-right: 24px;
    float: left;
    font-size: 28px;
    line-height: 28px;
}
.today_top h2 span{
    margin-left: 20px;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
}
.today_top a{
    float: right; 
}
.today_top img{
    vertical-align: middle;
}

/* .today_img{
} */
.today_img:after{
    content: ""; display: block; clear: both; height: 0;overflow: hidden;visibility: hidden;
}
.today_img li{
    float: left;
    width: 280px;
    height: 375px;
    margin-right: 20px;
}
.today_img li:last-child{
    margin-right:0px; 
}
.today_img li:hover{
    box-shadow: 0 15px 30px rgba(247,11,50,1);
    transform: translate3d(0, -2px, 0);
    transition: all .2s linear;
}
.today_img a img{
    width: 280px;
    height: 375px;
    display: block;
}

/* sale_box */
.sale{
    margin: 0 auto; 
}
.sale:after{
    content: ""; display: block; clear: both; height: 0;overflow: hidden;visibility: hidden;
}
.sale_txt{
    overflow: hidden;
    padding-top: 58px;
    padding-bottom: 10px;
}
.sale_txt h2{
    float: left;
    font-size: 28px;
    line-height: 28px;
}
.sale_txt h2 span{
    margin-left: 20px;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
}

.sale_ban img{
    width: 1182px;
}
/* .sale_con{
} */
.sale_con a .sale_goods{
    float: left;
    text-align: center;
    width: 280px;
    margin-top: 20px;
    margin-right: 18px;
    border: 1px solid #eee;
}
.sale_con a:last-child .sale_goods{
    margin-right: 0px;
}
.sale_goods:hover{
    box-shadow: 0 15px 30px rgba(14,192,73,1);
    transform: translate3d(0, -2px, 0);
    transition: all .2s linear;
}
.sale_goods img{
    width: 280px;
    height: 268px;
    margin-right: 20px;
    
}
.sale_goods h4{
    line-height: 24px;
    font-weight: normal;
    font-size: 14px;
    color: #444;
    margin-top:20px;
    margin-bottom: 20px;
}
.sale_goods span:nth-of-type(1){
    line-height: 25px;
    font-size: 16px;
    color: #f7545f;
}
.sale_goods span:nth-of-type(2){
    margin-left: 4px;
    line-height: 25px;
    font-size: 13px;
    color: #999;
    text-decoration: line-through;
}
.sale_goods:last-child{
    margin-right: 0px;
}
/* footer */
.ft_box{
    margin-top:10px;
    background: #1b1b1b;
}
.ft{
    overflow: hidden;
    width: 1282px;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 40px;
}
.ft_left{
    float: left;
}
.ft_left:first-child img{
    margin-left: 80px;
    margin-right: 50px;
}
.ft_left_ul{
    float: right;
    height: 135px;
    width: 395px;
    margin-left: 10px;
    border-left: 1px solid #606060;
    border-right: 1px solid #606060;
}
.ft_left_ul li{
    float: left;
    width: 118px;
    height: 55px;
    padding-left:  50px;
    padding-right:  26px;
}
.ft_left_ul li a:hover{
    color: white;
}
.ft_left_ul li a{
    color: #a8a8a8;
    font-size:14px;
    line-height:24px;
}
.ft_left a img{
    width: 186px;
    height: 56px;
}
.ft_right{
    float: right;
}
.ft_right li{
    float: left;
    text-align: center;
    margin-left: 90px;
}
.ft_right li:first-child{
    margin-left:78px ;
}
.ft_right li p{
    font-size: 16px;
    color: white;
}
.ft_right li img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.CopyRight{
    width: 1282px;
    text-align: center;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 30px;
    border-top: 1px solid #606060;
}

.ft_link{
    color: #777;
}
.ft_link a{
    font-size: 12px;
    line-height: 24px;
    color: #777;
}
.ft_link a:hover{
    color: white;
}
.c{
    font-size: 12px;
    line-height: 24px;
    color: #777; 
}
.CopyRight:last-child a{
    font-size: 12px;
    line-height: 24px;
    color: #777;
}
.CopyRight:last-child a:hover{
    color: white;
}