@charset "utf-8";
/* CSS Document */
.box{
   
}
/* 轮播图 */
.ban{
    width:480px;
    height: 100%;
    position: fixed;
    background: url(../img-reg/reg_silde_1.jpg) no-repeat;
    background-size: cover;
}
/* 注册部分 */
.reg-box{
    float: right;
}
.reg{
      
}
/* 顶部 */
.uls{
    margin-top: 26px;
    margin-right: 20px; 
    margin-bottom: 76px;
}
.uls:after{
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
}
.uls>li{
    float: left;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #999;
    margin-right: 52px;
}

.uls>li>a{
    display: block;
    height: 24px;
    line-height: 24px;
    color: #999;
}
.uls>li:first-child{
    position: relative;
}
.uls>li:first-child a img{
    position: absolute;
    bottom: 0px;left: -14px;
    width: 23px;height: 34px;
}
/* ------三角形----伪元素 */
.uls>li:nth-child(3) span:after{
    content: "";
    height: 0;width: 0;
    border-left:6px  solid transparent;
    border-top: 9px solid #999;
    border-right:6px  solid transparent;
    border-radius: 2px;
    opacity: .45;
    position: absolute;
    bottom: 6px; right: -17px;
}
.enter-uls>li:nth-child(3) span:after{
    border-top: 9px solid transparent;
    border-bottom: 9px solid #999;
    opacity: 0.8;
}
/* 滑过QQ靓号 */
.enter-qq-box{
    display: none;
    position: absolute;
    right: 0px; top: 100%;
    /* clear: both; */
    width: 290px;
    /* height: 50px; */
    border-radius: 6px;
    border: solid 1px #eee;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.12);
    overflow: hidden;
    padding: 0;
    z-index: 9;
}
.search{
    border-bottom: 1px solid #eee;
}
.search input{
    outline: none;
    border: 0;
    color: black;
    margin-left: 12px;
    width: 210px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: lighter;
}
.search input::placeholder{
    color: #aaa;
}
.search a{
    text-align: center;
    float: right;
    color: rgba(0,0,0,.6);
    font-weight:600;
    width: 40px;height: 50px;
    line-height: 50px;
    border-left: 1px solid #eee;
}
.icon-fangdajing{
    font-size: 22px;
}
.search a:hover{
    background-color: #f54444;
    background-image: linear-gradient(54deg,#fc4754,#ff794c);
    color: white;
    font-weight:100;
}
.keyword{
    overflow: hidden;
    padding: 24px 0;
    text-align: center;
}
.keyword li{
    margin: 0 6px;
    display: inline-block;
}
.keyword li a{
    font-size: 16px;
    color: #359eff;
}
.keyword li a:hover{
    color: #2b72ff;
}
/* 邮箱图标 */
.icon-web__youxiangrenzheng{
    color: #999;
    vertical-align: middle;
    font-size: 26px;
    width: 26px;
    display: inline-block;
    height: 28px;
}
/* 简体中文 */
.uls li a span{
    text-align: center;
    border-radius: 6px;
    background: #f54444;
    background: linear-gradient(126deg,#fc4754,#ff794c) #f54444;
    display: block;
    height: 24px;
    width: 80px;
    line-height: 24px;
    color: white;
}
/* 简体中文下拉语言 */
.uls li:nth-child(3){
    position: relative;
}
.lang-opt{
    padding-top: 28px;
    /* background: skyblue; */
    display: none;
    width: auto;
    position: absolute;
    left: 0px;top: 0;
    z-index: 1;
}
.lang-opt li{
    padding-top: 16px;
}
.lang-opt li a:hover{
    color: black;
}
.lang-opt li a{
    color: #999;
}
.reg-con{
    position: absolute;
    top: 100px;
    width: 480px;
    right: 200px;
}
.reg-con>h1{
    font-weight: 100;
    font-size: 44px;
    margin-bottom: 20px;
}
.reg-con>p{
    font-size: 28px;
    margin-bottom: 64px;
    line-height: 1.2;
    color: #333;
}
.reg-con>p>a{
    font-size: 24px;
    float: right;
    color: #359eff;
}
/* 注册正文 */
.reg-uls li{
   margin-top: 28px; 
}
.reg-uls input{
    border: 1px #aaa solid;
    border-radius: 4px;
    text-align: left;
    font-size: 20px;
    width: 438px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
.reg-uls input::placeholder{
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0px;
    z-index: -1;
    font-weight: lighter;
    color: #aaa;
}
/* 电话号码 */

.phone-area{
    position: relative;
}
.phone-area input:first-child{
    width: 112px;height: 50px;
    margin-right: 15px;
}
.phone-pic{
    position: absolute;
    top: 22px;
    vertical-align: middle;
    
}
.arrows{
    height: 52px;
    line-height: 52px;
    width: 24px;
    position: absolute;
    left: 130px; top: 0px;
}
.down{
}
.up{
    display: none;
}
.phone-area input:nth-of-type(2){
    width: 264px;height: 50px;
}

/* .reg-uls  */
p{
    margin-top: 8px;
    font-size: 14px;
    height: 14px;
    color: #999;
    white-space: nowrap;
}
/* 昵称-----第一个li */
.nickname{
    position: relative;
}
.right-pic{
    display: none;
    width: 20px;height: 15px;
    position: absolute;
    right: 14px;top: 20px;
}
.info{
    display: none;
    color: #ff5b5b;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
}
.red-pic{
    margin-right: 6px;
    width: 18px;height: 18px;
    vertical-align: middle;
}

/* 密码-----第二个li */
.reg-uls li:nth-child(2){
    position: relative;
}
.focus-tips>p{
    color: black;
}
/* 显示隐藏密码 */
.check-word{
    position: absolute;
    right: 10px;top: 10px;
    width: 44px;height: 36px;
}
.password-right{
    position: absolute;
    right: 4px;top: 10px;
}

.eye{
    display: none;
    position: absolute;
    left: 0; top: 0;
    width: 44px;height: 36px;
}
.eyepol{
    left: -36px;
}
/* 密码框聚焦提示 */
.word-tips{
    /* display: none; */
}
.word-nbsp{
    color: black ;
}
.word-length{
    color: black ;
}
.word-type{
    color: black ;
}
.password-nbsp,.password-illegal,.password-type{
    display: none;
}

/* 立即注册按钮 */
.reg-uls li:nth-child(4) input{
    border: 1px #3083ff solid;
    border-radius: 4px;
    background-color: #3487ff;
    box-shadow: 0 5px 8px 0 rgba(24,95,255,.1);
    color: #fff;
    text-align: center;
    font-weight: lighter;
    background-image: linear-gradient(0deg,#398bff,#3083ff);
    width: 480px;
    height: 60px;
    margin: 40px 0  8px;
    font-size: 24px;
}
.reg-uls li:nth-child(4) input:hover{
    background-color: #3580eb;
    background-image: linear-gradient(0deg,#3580eb,#2c79eb);
}
   
.reg-uls li:nth-child(6){
    margin-top: 16px;
}
.reg-uls li:last-child{
    font-size: 14px;
    color: #bbb;
    text-align: center;
    margin: 80px 0 30px 0;
    font-weight: lighter;
}
/* 各种勾选同意 */
.check-box-li{
    position: relative;
}
.check-box-p{
    text-indent: 22px;
    cursor: default;
}
.check-box-img{
    position: absolute;
    left: 0;
}
.checkbox{
    position: absolute;
    width: 18px;height: 18px;
    vertical-align: middle;
    margin-right: 4px;
}
/* 避免1像素差 */
.checked{
    position: absolute;
    left: 1px;
}
.check{
    display: none;
}